<div class="card bg-dark text-white border-danger border-3 rounded-4 p-2" style="width: 240px;">
  <img [src]="card.imageUrl" class=" rounded img-fluid" alt="Card image" />
  
  <!-- <div class="card-body bg-warning text-dark text-center rounded mt-2 py-1">
    <h5 class="card-title fw-bold m-0">ID: {{ card.id }}</h5>
  </div> -->

  <ul class="list-group list-group-flush text-start small mt-2">
    <li class="list-group-item bg-dark text-white border-0 px-2 py-1">
      <strong>Resistencia:</strong> {{ card.resistance }}
    </li>
    <li class="list-group-item bg-dark text-white border-0 px-2 py-1">
      <strong>Salud:</strong> {{ card.health }}
    </li>
    <li class="list-group-item bg-dark text-white border-0 px-2 py-1">
      <strong>Fuerza:</strong> {{ card.force }}
    </li>
    <li class="list-group-item bg-dark text-white border-0 px-2 py-1">
      <strong>Defensa:</strong> {{ card.defense }}
    </li>
    <li class="list-group-item bg-dark text-white border-0 px-2 py-1">
      <strong>Velocidad:</strong> {{ card.speed }}
    </li>
    <li class="list-group-item bg-dark text-white border-0 px-2 py-1">
      <strong>Magia:</strong> {{ card.magic }}
    </li>
  </ul>
</div>
