<div class="card bg-dark text-white rounded-4 p-2" (click)="getAttributeValue(card.id)">

  <div class="row d-flex justify-content-center gap-1">
    <div class="card-img">
      <img [src]="card.imageUrl" class=" rounded img-fluid" alt="Card image" />
    </div>
    <div class="card-info">
      <div class="col d-flex justify-content-between">
        <div class="text-dark">
          <strong>Resistencia </strong>
        </div>
        <div class="text-dark">
          {{ card.resistance }}
        </div>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="text-dark">
          <strong>Salud </strong>
        </div>
        <div class="text-dark">
          {{ card.health }}
        </div>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="text-dark">
          <strong>Fuerza </strong>
        </div>
        <div class="text-dark">
          {{ card.force }}
        </div>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="text-dark">
          <strong>Defensa </strong>
        </div>
        <div class="text-dark">
          {{ card.defense }}
        </div>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="text-dark">
          <strong>Velocidad </strong>
        </div>
        <div class="text-dark">
          {{ card.speed }}
        </div>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="text-dark">
          <strong>Magia </strong>
        </div>
        <div class="text-dark">
          {{ card.magic }}
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- <div class="card-body bg-warning text-dark text-center rounded mt-2 py-1">
    <h5 class="card-title fw-bold m-0">ID: {{ card.id }}</h5>
  </div> -->