<div class="container-fluid">
    <div class="row d-flex justify-content-center gap-2 mt-5">
        <div class="row d-flex justify-content-center gap-1">
            <div class="Col-8 d-flex justify-content-center">
                <div class="logo bg-light bg-opacity-25 rounded-4"></div>
            </div>
            <div class="row d-flex justify-content-center">
                <h3 class="text-center text-light">
                    Gana y no pierdas
                </h3>
            </div>
        </div>

        <div class="row d-flex justify-content-center mb-2">
            <div class="col-2 col-md-6 d-flex justify-content-center">
                <div class="jugadores-container">

                    <app-crear-jugador *ngFor="let player of players" [player]="player"
                        (onDeleted)="loadPlayers()"></app-crear-jugador>

                    <div class="jugador añadir" (click)="abrirModal()">
                        <div class="mas">+</div>
                        <p>AÑADIR</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <h2 class="text-center text-light">
                Minimo 2 jugadores y Maximo 7 jugadores
            </h2>
            >
            <div class="col-12 col-md-6 d-flex justify-content-center">

                <app-boton title="Iniciar" route="/sala" *ngIf="countPlayer >= 2 && countPlayer <= 7" (clicked)="startGame()"></app-boton>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
    <div class="modal-contenido">
        <h2>Añadir Jugador</h2>

        <form [formGroup]="formPlayer" (ngSubmit)="register()">
            <input type="text" formControlName="name" placeholder="Nombre"
                [class.error]="formPlayer.get('name')?.invalid && formPlayer.get('name')?.touched" />
            <div class="error" *ngIf="formPlayer.get('name')?.invalid && formPlayer.get('name')?.touched">
                <small *ngIf="formPlayer.get('name')?.errors?.['required']">
                    El nombre es obligatorio.
                </small>
            </div>

            <button type="submit" [disabled]="formPlayer.invalid">Añadir</button>
            <button type="button" class="cancelar" (click)="cerrarModal()">Cancelar</button>
        </form>
    </div>
</div>