
:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../../public/Back-ground/FondoInicio.jpg')!important;
    background-size: cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}   

.t-9{
    margin-top: 9rem;
}