
:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../../public/Back-ground/Fondo.jpg')!important;
    background-size: cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}   

.t-9{
    margin-top: 9rem;
}

.btn-podio {
    width: 60px;
    height: 60px;
    background-color: #FFC300;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 
    0 6px 0 #b38b00,     
    0 4px 8px rgba(0, 0, 0, 0.3); 
}
.btn-podio:hover {
    transform: translateY(-2px);
    box-shadow: 
    0 8px 0 #b38b00, 
    0 6px 12px rgba(0, 0, 0, 0.4);
}
