<div class="container-fluid ">
    <div class="row d-flex justify-content-end me-2 mt-2">
        <div class="btn-podio d-flex justify-content-center circle" [routerLink]="['/podio']" >
            <i class="fas fa-ranking-star"></i>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="row d-flex justify-content-center ">
            <div class="logo"></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <app-boton title="Iniciar" route="/sala"></app-boton>
            </div>
        </div>
    </div>  
</div>